<div class="banner" style="background-image: linear-gradient(-225deg, rgba(255,92,104,0.5) 0%, rgba(255,92,160,0.5) 50%), url('https://images.unsplash.com/photo-1502819126416-d387f86d47a1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=09f8419d4dfe16155bb399f0e7ea2069&auto=format&fit=crop&w=1489&q=80');">
  <div class="banner-content">
    <h1>Mister Cocktail</h1>
    <p>All the Cocktails you have ever dreamed of!</p>
  </div>
</div>
<div class="container card-container">
<% @cocktails.each do |cocktail| %>

    <div class="cocktail-card" style="background-image: url(<%= cocktail.image %>;">
      <p class="card-text"> <%= cocktail.name %></p>
      <a class="cocktail-link" href="<%= cocktail_path(cocktail) %>"></a>
    </div>
<% end %>
</div>
