<div class="wrapper">
  <!-- Sidebar Holder -->
  <nav id="sidebar">
      <div class="sidebar-header">
          <h3>Mister Cocktail</h3>
      </div>

      <ul class="list-unstyled components">
          <p></p>
          <li class="active">
              <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Cocktails</a>
              <ul class="collapse list-unstyled" id="homeSubmenu">
                  <li>
                      <a href="<%= cocktails_path %>">All Cocktails</a>
                  </li>
                  <li>
                      <a href="#">The Classics</a>
                  </li>
                  <li>
                      <a href="<%= new_cocktail_path %>">Add a new one</a>
                  </li>
              </ul>
          </li>
          <li>
              <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Ingredients</a>
              <ul class="collapse list-unstyled" id="pageSubmenu">
                  <li>
                      <a href="#">All Ingredients</a>
                  </li>
                  <li>
                      <a href="#">Add a new one</a>
                  </li>
              </ul>
          </li>
          <div class="search-box">
          <li class="active">
          <form novalidate="novalidate" class="simple_form cocktail" action="/cocktails/search" accept-charset="UTF-8" method="get">
            <input name="utf8" type="hidden" value="✓">
            <div class="form-group string required cocktail_search"><label class="form-control-label string required" for="cocktail_search">Search <abbr title="required">*</abbr></label><input class="form-control string required" type="text" name="cocktail[search]" id="cocktail_search"></div>
            </form>
        </li>
      </div>
      </ul>
  </nav>
  <div id="content">
